/* Space Mono */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

body {
  @apply text-white leading-large bg-primary;
}

input:focus {
  outline: none;
}
input {
  @apply text-black;
}


.my-container {
  @apply py-10 lg:px-28  md:px-0 md:py-10 lg:py-20  lg:max-w-[1280px] mx-auto md:max-w-[690px] max-w-[315px];
}
.my-header {
  @apply lg:text-2xl lg:leading-small text-xl font-semibold;
}
.hover {
  @apply transition-all;
}
/* hover class hover effect */
.hover:hover {
  transform: scale(0.95);
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* buttons */
.btn-purple-primary-lg {
  @apply bg-purple text-white transition-all ease-in-out duration-300 rounded-base w-max h-[72px] leading-normal  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-lg font-semibold;
}
.btn-black-primary-lg {
  @apply bg-primary hover border-purple border-2 text-white transition-all ease-in-out duration-300 rounded-base leading-normal w-max h-[72px]  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-lg font-semibold;
}
.btn-purple-primary-md {
  @apply bg-purple hover text-white transition-all ease-in-out duration-300 rounded-base w-max h-[60px] leading-normal  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-base font-semibold;
}
.btn-black-primary-md {
  @apply bg-primary hover hover border-purple border-2 text-white transition-all ease-in-out duration-300 rounded-base w-max h-[60px] leading-normal  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-base font-semibold;
}
.btn-purple-primary-sm {
  @apply bg-purple hover text-white transition-all ease-in-out duration-300 rounded-base w-max h-[46px] leading-normal  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-base font-semibold;
}
.btn-black-primary-sm {
  @apply bg-primary hover border-purple border-2 text-white transition-all ease-in-out duration-300 rounded-base w-max h-[46px] leading-normal  flex items-center justify-center px-[50px] py-5 gap-x-3 font-sans text-base font-semibold;
}

.mushroom {
  background: url(../assets/Mushroom.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* .mushroom:after {
  content: "";
  @apply bg-gradient_mushroom absolute w-full h-full;
} */

@tailwind components;
@tailwind utilities;
